.imagen{
	float: left;
	width: 130px;
	margin: 5px;
	border: solid 6px #cccccc;
}

.tarjetas{
	border: solid 2px;
	padding: 12px;
	width: 72.5%;
	margin: 0 auto;
	background: #b9cdebc0;
}

legend{
	border: solid 3px #0000c5;
	padding: 4px;
	font-weight: bold;
	border-radius: 20px;
	background: #a6daea8f;
}

body{
	background-size: 50%;
	background-attachment: fixed;
}